snippet date "insert current date in YYYY-MM-DD format"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet ddate "Insert current date in 'Month Day, Year' format"
`!v strftime("%B %d, %Y")`
endsnippet

snippet time "Insert current time in HH:MM format"
`!v strftime("%H:%M")`
endsnippet

# vim:ft=snippets:
